<!--<mat-vertical-stepper [linear]="true">-->
<!--<mat-step *ngFor="let shelfFormGroup of shelvesFormGroup" [stepControl]="shelfFormGroup.formGroup">-->
<!--<ng-template matStepLabel>{{shelfFormGroup.location.value}}</ng-template>-->
<!--<app-inventory-element-form [inventoryElements]="inventoryElements[shelfFormGroup.location.name]"></app-inventory-element-form>-->
<!--</mat-step>-->
<!--</mat-vertical-stepper>-->
<button mat-raised-button typ="button" (click)="test()">test</button>
<mat-spinner *ngIf="inProgress"></mat-spinner>
<mat-tab-group #tabGroup *ngIf="!inProgress">
  <mat-tab #currentTab *ngFor="let location of locations" label="{{location.value}}">
    <div *ngIf="currentTab.isActive && inventory[location.name]">
      <app-inventory-element-form [elements]="inventory[location.name]" [location]="location">
      </app-inventory-element-form>
    </div>
  </mat-tab>
  <mat-tab label="Valider l'inventaire" class="mat-tab-content">
    <p>
    <span> Vous avez fini l'inventaire ? Super, vous pouvez le valider:</span>
    <button mat-raised-button typ="button" color="primary">Valider</button>
    </p>
  </mat-tab>
</mat-tab-group>
