.sidenav-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  padding: 10px;
  height: 100%;
}



mat-sidenav * {
  width: 100%;
}

.sidenav {
  padding: 5px;
}
