<div class="app-data-container">
  <table>
    <tr>
      <td>
        <button mat-raised-button color="warn" (click)="openResetInventoryDialog()"
                matTooltip="Remet à zéro l'inventaire, pour le recommencer">
          Supprimer l'inventaire en cours
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button mat-raised-button color="warn" (click)="resetAllElements()"
                matTooltip="Remet à zéro tous les éléments existants.">
          Remettre à zéro
        </button>
      </td>
    </tr>
  </table>
</div>
