<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{element.name}}
    </mat-panel-title>
    <mat-panel-description>
      <span>{{element.more}}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>


  Quantité:
  <mat-chip-list>
    <mat-chip selected="true">{{element.stock}}</mat-chip>
  </mat-chip-list>
  Minimum:
  <mat-chip-list>
    <mat-chip color="accent" selected="true">{{element.minimum}}</mat-chip>
  </mat-chip-list>
  A commander:
  <mat-chip-list>
    <mat-chip *ngIf="element.toOrder === 0">{{element.toOrder}}</mat-chip>
    <mat-chip *ngIf="element.toOrder > 0" color="warn" selected="true">{{element.toOrder}}</mat-chip>
  </mat-chip-list>
  Etagère:
  {{element.location | location}}

  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip> Tags: <span *ngFor="let tag of element.tags">{{tag}} - </span></mat-chip>
  </mat-chip-list>


</mat-expansion-panel>
